* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100vw;
  height: 100vh;
}
.youtubeIcon {
  color: red;
}
.youtubeBody {
  display: flex;
  flex-direction:column;
}
.videoRow{
  display: flex;
  flex-direction: row;
}

.video{
  margin: 1rem;
}
.vide span{
  font-size:x-small;
}
img{
  border-radius: 50%;

}

