* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.youtubeIcon {
  color: red;
}
.youtubeBody {
  display: flex;
  flex-direction: column;
}
.videoRow {
  display: flex;
  flex-direction: row;
}
.video {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
.video span {
  margin-top: 2px;
  font-size: small;
}
img {
  border-radius: 50%;
}

.parent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}
.videoContainer {
  width: 70%;
  height: auto;
  margin-left: 1.5rem;
}
.videoSuggestionListContainer {
  width: 30%;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.videoSuggestionListContainer::-webkit-scrollbar {
  display: none;
}
.suggestion {
  height: 8rem;
  text-align: justify;
  display: flex;
  flex-direction: row;
  font-size: small;
  overflow: none;
}
.suggestion span {
  margin: 1rem;
}

@media (max-width: 1000px) {
  .parent {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
  }
  .videoContainer {
    width: 100%;
    height: 20%;
    margin: 0px;
  }
  .videoSuggestionListContainer {
    height: auto;
    width: 100%;
    margin-left: 0px;
  }
  .suggestion div {
    display: flex;
    align-items: center;
    margin-left: 1px;
  }
}
